{% extends 'base.html' %}

{% block content %}
  <h1>DETAIL</h1>
  <p>글번호 : {{ article.pk }}</p>
  <p>글제목 : {{ article.title }}</p>
  <p>글내용 : {{ article.content }}</p>
  <p>작성일 : {{ article.created_at }}</p>
  <p>수정일 : {{ article.updated_at }}</p>
  <form action="{% url 'articles:delete' article.pk%}" method='POST'>
    {% csrf_token %}
    <input type="submit"value="삭제">
  </form>

  <form action="{% url 'articles:edit' article.pk%}" method='POST'>
    {% csrf_token %}
    <input type="submit"value="수정">
  </form>
  <a href="{% url 'articles:index' %}">[뒤로가기]</a>
{% endblock content %}