{% extends 'base.html' %}

{% block content %}
  <h2>DETAIL</h2>
  <h3>{{ article.pk }} 번째 글</h3>
  <hr>
  <p>제목 : {{ article.title }}</p>
  <p>내용 : {{ article.content }}</p>
  <p>작성시각 : {{ article.created_at }}</p>
  <p>수정시각 : {{ article.updated_at }}</p>
  <hr>
  {% if user == article.user %}
    <a href="{% url 'articles:update' article.pk %}">[UPDATE]</a>
    <form action="{% url 'articles:delete' article.pk %}" method="POST">
      {% csrf_token %}
      <input type="submit" value="DELETE">
    </form>
  {% endif %}
  <a href="{% url 'articles:index' %}">[back]</a>
  <hr>
  <h4>댓글 목록</h4>
  <ul id="ulTag">
    {% for comment in comments %}
      <li id="comment-list">
        {{ comment.user }} - {{ comment.content }}
        {% if user == comment.user %}
          <form action="{% url 'articles:comments_delete' article.pk comment.pk %}" method="POST" class="d-inline">
            {% csrf_token %}
            <input type="submit" value="DELETE">
          </form>
        {% endif %}
      </li>
    {% empty %}
      <p>댓글이 없어요..</p>
    {% endfor %}
  </ul>

  <hr>
  {% if request.user.is_authenticated %}
    <form id="comment-form" data-user-id="{{ article.pk }}">
      {% csrf_token %}
      {{ comment_form }}
      <input type="submit">
    </form>
  {% else %}
    <a href="{% url 'accounts:login' %}">[댓글을 작성하려면 로그인하세요.]</a>
  {% endif %}
{% endblock content %}

{% block script %}
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script>
    const form = document.querySelector('#comment-form')
    const input = document.querySelector('[name=content]')
    const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value

    form.addEventListener('submit', function (event) {
      event.preventDefault()
    const newForm = new FormData()
    newForm.append('content', input.value)

	// 이곳에 코드를 작성하세요
      axios({
        method: 'post',
        headers: {'X-CSRFToken': csrftoken},
        url: `/articles/${event.target.dataset.userId}/comments/`,
        data: newForm
      })
        .then((response) => {
          console.log(response)
          const newUl = document.querySelector('#ulTag')
          const newLi = document.createElement('li')
          newLi.innerHTML =  `{{ request.user.username }} - ${ response.data.content }
          <form action='/articles/${response.data.article_pk}/comments/${response.data.comment_pk}/delete/' method="POST" class="d-inline">
            {% csrf_token %}
            <input type="submit" value="DELETE">
          </form>`
          newUl.appendChild(newLi)
    })
    input.value = ''
  })
  </script>
{% endblock script %}
